@font-face {
    font-family: 'Proto Mono';
    src: url('/static/fonts/Proto Mono Regular.ttf') format('truetype');
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    background-color: rebeccapurple;
    font-family: "Proto Mono", monospace;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 20px;
    left: 50;
    padding: 10px 20px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.navbar-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
}

.navbar-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: #e0ff05;
    border-radius: 15px;
    padding: 10px 20px;
    margin: 0 10px;
    font-family: "Proto Mono", monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    text-decoration: none;
}

.navbar-button:hover {
    background-color: #121212;
    color: #fc7a00;
    border-radius: 15px;
}

.tor-icon {
    width: 45px;
    height: 60px;
    background-image: url('/static/images/tor_logo.png');
    background-size: cover;
    background-position: center;
    margin-right: 10px;
    margin-top: -25px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 130px;
}



.search-container {
    position: relative;
    display: flex;
    align-items: center;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 400px;
    height: 22px;
    font-family: 'Ubuntu Mono', monospace;
    background-color: rgba(0, 0, 0, 0.7);
    color: wheat;
    font-weight: 100;
    font-size: 1rem;
    font-stretch: extra-expanded;
    padding-right: 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

input:focus {
    outline: none;
}

input:hover {
    background-color: #070707;
    color: #ffd1d1;
}

.search-button {
    padding: 7px;
    border-radius: 5px;
    border: none;
    background-color: rgba(207, 0, 249, 0.1);
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    color: #e0ff05;
}

.search-button i {
    font-size: 17px;
}

.search-button:hover {
    color: #fc7a00;
    background-color: #121212;
    box-shadow: 0 0 10px rgba(188, 0, 0, 0.9);
}


.cube1 {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    transform-style: preserve-3d;
    animation: huh 4s linear infinite alternate;
}

@keyframes huh {
    0% {
        transform: rotateX(-30deg) rotateY(0deg);
    }

    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube2 {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    transform-style: preserve-3d;
    animation: huh 4s linear infinite alternate;
}

.cube1 div {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
}

.cube1 div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    transform: rotateY(calc(90deg * var(--cube))) translateZ(10px);
    background: linear-gradient(#151515, rebeccapurple);
}

.cube2 div {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
}

.cube2 div span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    transform: rotateY(calc(90deg * var(--cube))) translateZ(10px);
    background: linear-gradient(#151515, rebeccapurple);
}

.glow {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    background: #222;
    transform: rotateX(90deg) translateZ(10px);
}

.glow::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    background: #ffffff;
    filter: blur(5px);
    transform: translateZ(-40px);
    box-shadow:
        0 0 10px rgba(224, 255, 5, 0.5),
        0 0 20px rgba(224, 255, 5, 0.5),
        0 0 30px rgba(252, 122, 0, 0.7),
        0 0 40px rgba(252, 122, 0, 0.7),
        0 0 50px rgb(247, 97, 182);
}

.link-container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 50%;
    position: fixed;
    bottom: 20px;
    left: 25%;
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
}

.link-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.link-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.link-container::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.link-container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    width: 50%;
    position: fixed;
    bottom: 20px;
    left: 25%;
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}


.link-container ul {
    list-style: square inside;
    margin: 0;
    padding: 0;
}

.link-container li {
    margin: 10px 0;
}

.link-container a {
    color: #fff;
    text-decoration: none;
}

.link-container a:hover {
    color: #fc7a00;
}

.ip-box1 {
    position: fixed;
    top: 15px;
    left: 60px;
    background-color: rgba(0, 0, 0, .75);
    color: palevioletred;
    padding: 10px;
    border-radius: 50px;
    font-family: "Proto Mono", monospace;
    font-size: 0.7rem;
}

.ip-box2 {
    position: fixed;
    top: 15px;
    right: 60px;
    background-color: rgba(0, 0, 0, .75);
    color: palevioletred;
    padding: 10px;
    border-radius: 50px;
    font-family: "Proto Mono", monospace;
    font-size: 0.7rem;
}

.ip-address {
     margin: 0;
}

.ip-address:hover{
     color: #fc7a00;
     cursor: wait;
}