<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>capNcook</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

    <div class="ip-box1">
        <p class="ip-address">{{ anon_ip }}</p>
    </div>

    <div class="ip-box2">
        <p class="ip-address">{{ pub_ip }}</p>
    </div>

    <div class="navbar">    
        <div class="navbar-buttons">
            <a href="{{ url_for('onion_check') }}" class="navbar-button" target="_blank">Onion Check</a>
            <a href="{{ url_for('recon') }}" class="navbar-button" target="_blank">Recon</a>
            <a href="{{ url_for('headers') }}" class="navbar-button" target="_blank">Screenshots & Headers</a>
            <a href="{{ url_for('enumeration') }}" class="navbar-button" target="_blank">Enumeration</a>
        </div>
    </div>
    <div class="cube1">
        <div class="glow"></div>
        <div>
            <span style="--cube:0"></span>
            <span style="--cube:1"></span>
            <span style="--cube:2"></span>
            <span style="--cube:3"></span>
        </div>
    </div>
    <div class="cube2">
        <div class="glow"></div>
        <div>
            <span style="--cube:0"></span>
            <span style="--cube:1"></span>
            <span style="--cube:2"></span>
            <span style="--cube:3"></span>
        </div>
    </div>
    <form action="/search" method="POST">
        <div class="search-container">
            <div class="tor-icon"></div>
            <input type="text" id="keywords" name="keywords" placeholder="Search with TOR" required>
            <button type="submit" class="search-button">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </form>

    <div class="centered-container">
    <form method="POST" action="{{ url_for('refresh_cache') }}">
        <button type="submit" class="btn btn-warning square-refresh-button" data-toggle="tooltip" data-placement="bottom" title="Re-run results">
            <i class="fas fa-sync-alt fa-spin"></i>
        </button>
    </form>
    </div>

    <div class="link-container">
        <ul>
            {% for domain in domain_links %}
            <li><a href="{{ 'http://' + domain.link.split('//')[-1] if domain.link.startswith('http://') or domain.link.startswith('https://') else domain.link }}"
                    target="_blank">{{ domain.title }}</a></li>
            {% if loop.index == 7 %}
        </ul>
        <ul>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    {% if message %}
    <p class="message">{{ message }}</p>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>