<!DOCTYPE html>
<html lang="en">
<head>
    <title>Onion Check</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous|Ubuntu+Mono&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/onion_check_form.css') }}">
</head>
<body>
    
    <h1>Onion Check Results</h1>
    
    <div class="centered-container">  
        <form method="post">
            <div class="run-button-container">
                <input type="hidden" name="run" value="true">
                <button id="run_button" submit">Run Onion Check</button>
            </div>
        </form>

        <form method="GET" action="{{ url_for('refresh', functionality='onion_check') }}">
                <button type="submit" class="btn btn-warning square-refresh-button" data-toggle="tooltip" data-placement="bottom" title="Refresh">
                    <i class="fas fa-sync-alt fa-spin"></i>
                </button>
        </form>
    </div>

        <table>
            <tr>
                <th>URL</th>
                <th>Status</th>
                <th>Status Code</th>
                <th>Onion Title</th>
                <th>Onion Description</th>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        </table>
        
</body>
</html>
